<h1>Privacy Policy</h1>

<p>Budg-It does not consume or collect private financial or account data. Budg-It takes all reasonable measures to ensure that API data from YNAB API is secure and protected. No private or confidential user financial data is stored on Budg-It's servers.</p>