---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YNAB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 2/200
      Etag:
      - W/"56c964fafc38ac83c8c820117e9cc3b7"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"budgets":[{"id":"0f035ed8-1c2f-4a5d-b5ec-9570cc429d2d","name":"My
        Budget","last_modified_on":"2018-12-23T23:01:15+00:00","first_month":"2018-12-01","last_month":"2018-12-01","date_format":{"format":"MM/DD/YYYY"},"currency_format":{"iso_code":"USD","example_format":"123,456.78","decimal_digits":2,"decimal_separator":".","symbol_first":true,"group_separator":",","currency_symbol":"$","display_symbol":true}}]}}'
  recorded_at: Sun, 23 Dec 2018 23:58:09 GMT
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets/0f035ed8-1c2f-4a5d-b5ec-9570cc429d2d/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YNAB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 3/200
      Etag:
      - W/"510b0920e5ed5e652d2177e428b7dec0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"category_groups":[{"id":"da6af03f-db1a-4926-9ccd-6d7c344aed3f","name":"Internal
        Master Category","hidden":false,"deleted":false,"categories":[{"id":"d49041ae-9383-4e02-85ce-ef43379b560c","category_group_id":"da6af03f-db1a-4926-9ccd-6d7c344aed3f","name":"To
        be Budgeted","hidden":false,"original_category_group_id":null,"note":null,"budgeted":0,"activity":0,"balance":0,"goal_type":null,"goal_creation_month":null,"goal_target":0,"goal_target_month":null,"goal_percentage_complete":0,"deleted":false},{"id":"e67c3517-72db-49d9-b359-eccf64db9ecd","category_group_id":"da6af03f-db1a-4926-9ccd-6d7c344aed3f","name":"Deferred
        Income SubCategory","hidden":false,"original_category_group_id":null,"note":null,"budgeted":0,"activity":0,"balance":0,"goal_type":null,"goal_creation_month":null,"goal_target":0,"goal_target_month":null,"goal_percentage_complete":0,"deleted":false},{"id":"c4f55314-1aaa-4d1c-9716-982cbeb5ce6f","category_group_id":"da6af03f-db1a-4926-9ccd-6d7c344aed3f[...]
