---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YNAB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 1/200
      Etag:
      - W/"af3f44c5a6cead099f971b688df93f11"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"budgets":[{"id":"0f035ed8-1c2f-4a5d-b5ec-9570cc429d2d","name":"My
        Budget","last_modified_on":"2018-12-23T23:01:15+00:00","first_month":"2018-12-01","last_month":"2018-12-01","date_format":{"format":"MM/DD/YYYY"},"currency_format":{"iso_code":"USD","example_format":"123,456.78","decimal_digits":2,"decimal_separator":".","symbol_first":true,"group_separator":",","currency_symbol":"$","display_symbol":true}}]}}'
  recorded_at: Sun, 23 Dec 2018 23:11:37 GMT
recorded_with: VCR 4.0.0
