---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YNAB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 1/200
      Etag:
      - W/"b4008d18d3942a6f17041cb98813231d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"id":"f3f7bcfe-45fd-42d0-8274-4b70eec8c443"}}}'
  recorded_at: Fri, 21 Dec 2018 02:07:04 GMT
recorded_with: VCR 4.0.0
