---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets/0f035ed8-1c2f-4a5d-b5ec-9570cc429d2d/categories/38e51ae5-519e-4c08-8f6b-2c74d5e58c38
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YNAB_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 2/200
      Etag:
      - W/"d730947fcbf5b4b0fa19a92e4857828f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"category":{"id":"38e51ae5-519e-4c08-8f6b-2c74d5e58c38","category_group_id":"4efd27b3-7a4e-4acf-be23-68ace02bf7a5","name":"Food","hidden":false,"original_category_group_id":null,"note":null,"budgeted":200000,"activity":0,"balance":200000,"goal_type":null,"goal_creation_month":null,"goal_target":0,"goal_target_month":null,"goal_percentage_complete":0,"deleted":false}}}'
  recorded_at: Thu, 27 Dec 2018 16:57:01 GMT
recorded_with: VCR 4.0.0
