<section class="landing white">
  <div class="container">
    <div class="welcome">
      <h2>Welcome to Budg-It!</h2>
      <%= link_to 'Register Now', registration_path, class: 'cta-button' %>
    </div>
  </div>
</section>
<section class="features blue">
  <div class="container">
    <h3>About Budg-It</h3>

    <p>Bacon ipsum dolor amet pork ribeye drumstick buffalo bresaola capicola, rump hamburger. Corned beef tail chuck frankfurter doner fatback meatloaf shankle kevin bacon prosciutto leberkas spare ribs. Beef rump prosciutto kielbasa, bresaola pastrami pork chop flank. Alcatra prosciutto tongue venison. Buffalo drumstick frankfurter jowl salami chuck pork loin spare ribs tenderloin kevin shank ribeye prosciutto sirloin beef ribs.</p>

    <p>Pig drumstick shank brisket, meatloaf ham hock beef ribs alcatra ribeye. Bacon chuck leberkas, kielbasa drumstick picanha pig. Andouille tongue frankfurter ham sausage, pork chop alcatra strip steak porchetta corned beef. Burgdoggen fatback bresaola, biltong pork belly chicken cow filet mignon sausage leberkas frankfurter doner shankle.</p>

    <p>Brisket leberkas jerky, pork belly ribeye shoulder boudin porchetta tenderloin jowl. Cow brisket buffalo, swine turkey fatback beef ribs ham hock sausage kielbasa t-bone short loin picanha pork chicken. Hamburger beef ribs alcatra venison turkey bresaola doner salami shoulder pork meatball cow. Picanha meatloaf capicola landjaeger, ribeye bacon porchetta bresaola. Frankfurter t-bone kielbasa, drumstick landjaeger andouille salami.</p>
  </div>
</section>
