<section class="landing white">
  <div class="blur-bg">
    </div>
  <div class="container">
    <div class="welcome">
      <h2>Welcome to Budg-It!</h2>
      <% if current_user %>
        <%= link_to 'My Dashboard', dashboard_path, class: 'cta-button' %>
      <% else %>
        <%= link_to 'Register Now', registration_path, class: 'cta-button' %>
      <% end %>
    </div>
  </div>
</section>
<section class="features white">
  <div class="container">
    <h3>About Budg-It</h3>
    <p>Rails app to give users notifications based on budget when they enter a store/restaurant. Consumes an api from a budgeting app and an database of consumer locations.</p>
  </div>
</section>
